@model IEnumerable<SetLight.Abstracciones.ModelosParaUI.EquipmentDto>

@{
    ViewBag.Title = "ListarEquipment";
}

<h2>ListarEquipment</h2>

<p>
    @Html.ActionLink("Crear Nuevo Equipo", "CrearEquipment")

    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalEqCategory">
        Crear Nueva categoría
    </button>

</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EquipmentId)</th>
        <th>@Html.DisplayNameFor(model => model.EquipmentName)</th>
        <th>@Html.DisplayNameFor(model => model.Brand)</th>
        <th>@Html.DisplayNameFor(model => model.Model)</th>
        <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EquipmentId)</td>
            <td>@Html.DisplayFor(modelItem => item.EquipmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.Brand)</td>
            <td>@Html.DisplayFor(modelItem => item.Model)</td>
            <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="modalEqCategory" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content-category">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    <script src="~/Scripts/Modals/EqCategory/EqCategoryModal.js"></script>
}
